<h1>Share File</h1>

<%= form_with model: @file_share, url: folder_file_upload_file_shares_path(@file_upload.folder, @file_upload), local: true do |form| %>
  <%= form.hidden_field :file_upload_id, value: @file_upload.id %>

  <div>
    <%= form.label :user_id, "Select User" %>
    <%= form.collection_select :user_id, User.where.not(id: current_user.id), :id, :email, include_blank: true %>
  </div>
  <div>
    <%= form.submit "Share File" %>
  </div>
<% end %>

<%= link_to "Back", folder_file_uploads_path(@file_upload.folder) %>
