<h1><%= @folder.name %></h1>

<%= link_to "Upload File", new_folder_file_upload_path(@folder) %>

<ul>
  <% @file_uploads.each do |file_upload| %>
    <li>
      <%= file_upload.name %>
      <%= link_to "Download", download_folder_file_upload_path(file_upload) %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", folders_path %>
