<h1>Audit Logs</h1>

<table>
  <thead>
    <tr>
      <th>Action</th>
      <th>User</th>
      <th>Target Type</th>
      <th>Target ID</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% @audit_logs.each do |log| %>
      <tr>
        <td><%= log.action %></td>
        <td><%= User.find(log.user_id).email %></td>
        <td><%= log.target_type %></td>
        <td><%= log.target_id %></td>
        <td><%= log.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>
